<meta name="robots" content="noindex">
{% assign product = collections.UploadLOGO.products.first %}
{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

<!-- Bold D&H //product -->
{% if product.metafields.inventory.ShappifyHidden == "true" %}
Product is not available
{% break %}{% endif %}
<!-- // end product D&H --> 

<!--h1 class="page-title">{{ page.title }}</h1-->
<div class="rte">
  {{ page.content }}
</div>
<head>

<link href="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/brandtemp23.css" rel="stylesheet" type="text/css">
 <link href="https://cdn.shopify.com/s/files/1/0895/4184/files/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/jquery-1.9.1.min.js "></script>
<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/jssor.slider.mini.js"></script>
</head>
<style>#customPage {
    margin-top: -70px;
}</style>

  
<!--div id="customPage" style="magin-top:-200px;"-->
<div id="customPage" >
<div id="first1" class="customParts">
  <h1 style="color:#000000;">Package Templates</h1>
  <!--div id="thumbnail" class="subfirst1">
    <div class="thumbimages"><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Chase_V.1.jpg" /></div>
    <div class="thumbimages"><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Grey_White.jpg" /></div>
    <div class="thumbimages"><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Blue_White.png" /></div>
        <div class="thumbimages"><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/TaylorMade.jpg" /></div>
  </div>
  <div id="bigpic" class="subfirst1">
    <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/BlueWhite.png" />
  </div-->
  <div id="bigpic" class="">
  <div class="col-xs-12 col-sm-2">
    <ol class="circled-grey-bg-counter" type="A">
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Grey_White.jpg" alt="Grey White Package Template" class="gall-prev-img full-width"></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Blue_White.png" alt="Blue White White Package Template" class="gall-prev-img full-width"></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/TaylorMade.jpg" alt="Taylor Made Package Template" class="gall-prev-img full-width"></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Chase_V.1.jpg" alt="Chase Package Template" class="gall-prev-img full-width"></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/mckenna-package-template_23b8a1da-e2c9-46ba-a543-beed9bea6935.jpg" alt="McKenna Package Template" class="gall-prev-img full-width"></li>
    </ol>
  </div>
  <div class="col-xs-12 col-sm-10 padding-0">
    <img src="https://cdn.shopify.com/s/files/1/0895/4184/files/Grey_White.jpg" alt="Dynamic Package Template" class="gall-full-img full-width">
  </div>
    <div class="clearfix"></div>
      <!-- hidden-->
      <div id="jssor_1" style="display: none; position: relative; margin: 0 auto; top: 0px; left: 0px; width: 943px; height: 485px; overflow: hidden; visibility: hidden; background-color: #ffffff;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 220px; width: 710px; height: 500px; overflow: hidden;">
           
             
            
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Chase_V.1.jpg" />
                <img data-u="thumb" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Chase_V.1.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Grey_White.jpg" />
                <img data-u="thumb" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Grey_White.jpg" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Blue_White.png" />
                <img data-u="thumb" src="https://cdn.shopify.com/s/files/1/0895/4184/files/Blue_White.png" />
            </div>
            <div data-p="150.00" style="display: none;">
                <img data-u="image" src="https://cdn.shopify.com/s/files/1/0895/4184/files/TaylorMade.jpg" />
                <img data-u="thumb" src="https://cdn.shopify.com/s/files/1/0895/4184/files/TaylorMade.jpg" />
            </div>
          
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01-99-66" style="margin-top:-50px;position:absolute;left:-40px;top:0px;width:240px;height:480px;" data-autocenter="2">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;height:80px !important;width:100px !important">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:250px;width:40px;height:40px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora05r" style="top:158px;right:48px;width:40px;height:40px;" data-autocenter="2"></span>
    </div>
    </div>

  <div id="logoform" class="">
     

<div id= "hiddenProductId" style="display:none;" data-product-id="{{product.id}}"></div>
<!-- Bold: QB - Step 1 -->
{% include 'shappify-qb-no-select' %}
<!-- // end Bold code -->

{% include 'bold-set-prices' with product %}
{% assign selectedVariant = bold_selected_or_first_available_variant | default: product %}

<!-- BOLD CSS to show the quantity-->
<style>
  
.product-quantity {
    visibility: visible !important;
}

</style>

<div itemscope itemtype="http://schema.org/Product">
  <!--h1 class="page-title" itemprop="name">{{ product.title }}</h1-->

  <!--div class="product-details mobile">
    {% if settings.product-display-vendor %}
      <p class="meta vendor">{{ product.vendor }}</p>
    {% endif %}
    <p class="product-price">
      <span class="price">
        <span class="money">{{ selectedVariant.price | money }}</span>

        {% unless shappify_qb_options_count == 1 and bold_compare_at_price_min <= selectedVariant.price %}
          <span class="original money">
            {% if selectedVariant.compare_at_price > selectedVariant.price %}
              {{ selectedVariant.compare_at_price | money }}
            {% endif %}
          </span>
        {% endunless %}
      </span>
    </p>
  </div-->

  {% assign featured_image = selectedVariant.featured_image | default: product.featured_image %}
  <!--div class="product-slideshow clearfix">
    <div class="product-big-image" data-no-image-svg="{{ 'no-image.svg' | asset_url }}" data-no-image-png="{{ 'no-image.png' | asset_url }}">
      <span class="product-slideshow-loader"></span>
      {% if product.images.size > 0 %}
        <img itemprop="image" alt="{{ featured_image.alt }}" src="{{ featured_image | img_url: 'master' }}" />
      {% else %}
        <img class="product-no-images" src="{{ 'no-image.svg' | asset_url }}" alt="No Image Available" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;" />
      {% endif %}

      {% if settings.product-enable-zoom %}<div class="product-image-zoom"></div>{% endif %}
    </div>

    {% if product.images.size > 1 %}
    <div class="product-thumbnails">
      {% for image in product.images %}
        <img alt="{{ image.alt }}" data-high-res="{{ image | product_img_url: 'master' }}" src="{{ image | product_img_url: 'thumb' }}" class="{% if image == featured_image %}active{% endif %}">
      {% endfor %}
    </div>
    {% endif %}
  </div-->

  <div class="product-wrap" style="width:100%;">

    <div class="product-details">
      {% if settings.product-display-vendor %}
        <p class="meta vendor" itemprop="brand">{{ product.vendor }}</p>
      {% endif %}
    
    </div>

    <form class="product-form" action="/cart/add" method="post" class="shappify_add_to_cart_form" data-product-id="{{ product.id }}" enctype="multipart/form-data">
  <!-- Bold: Options 3-2 -->
{% include 'shappify-options' %}
<!-- // end Options 3-2 -->

      {% if shappify_qb_options_count > 1 %}
        <div class="product-options">
          <select name="id" id="product-select" class="product-select">
            {% for variant in product.variants %}
            {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
            <!-- Bold: QB - Step 2 -->
            {% if variant.metafields.shappify_qb.qb_hide == "1" %}{% continue %}{% endif %}
            <!-- // end Bold code -->
            
              <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <input type="hidden" name="id" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}
      
      
 
 <div class="allLastWrap">
   {% unless qb_loaded == 'true' %}
  <!--div id="shappify-qty-msg"></div-->
  {% assign qb_loaded = 'true' %}
{% endunless %}
   <!-- Bold: Quantity Breaks - Step 7 -->
<!--div id="shappify-qty-cart-msg"></div-->
<!-- // end Bold code -->
   
   <div id="enterQuantity">Enter Quantity</div>
      <div class="input-wrapper product-quantity">
        <label for="quantity">{{ 'general.quantity' | t }}</label>
        <input type="number" name="quantity" id="quantity" value="500"  min="500" max="3000" step='100' maximum='20'/>
      </div>
  <div class="product-price input-wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span class="price" itemprop="price"> 
           <label style="position:relative;top:-4.5px">Price Per:</label>
          <input type='text' readonly='readonly' class="money" id="countbasicamount" value='{{ selectedVariant.price | money }}' style="margin-top:-6px"> 
       
          {% unless shappify_qb_options_count == 1 and bold_compare_at_price_min <= selectedVariant.price %}
            <span class="original money" style="display:inline;">
              {% if selectedVariant.compare_at_price > selectedVariant.price %}
                {{ selectedVariant.compare_at_price | money }}
              {% endif %}
            </span>
          {% endunless %}
        </span>
    
      <p  style="display:inline;font-size:16px"> Total: $</p>
      <div id="showTotal"  style="display:inline;font-size:16px">
        
      
      </div><br/><br />
      </div>
      <script type="text/javascript">
          $('#quantity').keyup(function(){
          var money = $('#countbasicamount').val();
          money = money.replace('$','');
           
          money = money.replace(' ','');
          money = parseFloat(money);
          var showTotal = $('#quantity').val()*money;
        $('#showTotal').html(showTotal);
        });
      </script>
      <div class="add-to-cart">
        
        
        {% if product.available %}
        <input type="submit" value="NEXT" />
          <div class="product-form-submit-wrap">
            <!--input type="submit" value="{{ 'products.product.add_to_cart' | t }} " /-->
            
            <!--div class="add-to-cart-loader"></div-->
          </div>
          {% capture cart_link %}
            <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
           {% endcapture %}
          {% capture continue_link %}
            <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
           {% endcapture %}
          {% capture checkout_link %}
            <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
           {% endcapture %}
          {% capture product_item %}
            <span class='added-product-name'></span>
          {% endcapture %}
          <p class="product-add-success-message">{{ 'products.product.success_html' | t: cart_link: cart_link, continue_link: continue_link, checkout_link: checkout_link, product: product_item  }}</p>
          <p class="product-add-error-message"></p>
        {% else %}
          <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
 {% endif %}
      </div>
    <!--input type="hidden" name="return_to" value="/checkout" /--> 
      </div>
    </form>

    {% if product.description.size > 0 %}
    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>
    {% endif %}

    {% if settings.product-show-info-link-1 or settings.product-show-info-link-2 %}
    <div class="product-more-info">
      {% if settings.product-show-info-link-1 %}
        <p class="product-info-link {{ settings.product-info-link-icon-1 }}">
          {% if settings.product-info-link-url-1.size > 0 %}<a href="{{ settings.product-info-link-url-1 }}">{% endif %}
            {{ settings.product-info-link-text-1 }}
          {% if settings.product-info-link-url-1.size > 0 %}</a>{% endif %}
        </p>
      {% endif %}

      {% if settings.product-show-info-link-2 %}
        <p class="product-info-link {{ settings.product-info-link-icon-2 }}">
          {% if settings.product-info-link-url-2.size > 0 %}<a href="{{ settings.product-info-link-url-2 }}">{% endif %}
            {{ settings.product-info-link-text-2 }}
          {% if settings.product-info-link-url-2.size > 0 %}</a>{% endif %}
        </p>
      {% endif %}
    </div>
    {% endif %}

    <!--{% if settings.product-show-share-buttons %}
      {% include 'share-buttons' %}
    {% endif %}-->

   
</div><!-- close itemscope -->

{% if settings.product-show-related %}

  {% assign number_of_related_products_to_show = 4 %}

  {% capture number_of_related_products_to_fetch %}
    {{ number_of_related_products_to_show | plus: 1 }}
  {% endcapture %}

  {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
      {% assign found_a_collection = false %}
      {% for c in product.collections %}
          {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
              {% assign found_a_collection = true %}
              {% assign collection = c %}
          {% endif %}
      {% endfor %}
  {% endif %}

  {% if collection.products.size > 1 %}
    <div class="related-products">

      <h3 class="section-title">
        {{ 'products.related_products.header' | t }}
      </h3>

      <div class="collection-products">
      {% assign current_product_found = false %}
      {% for prod in collection.products limit: number_of_related_products_to_fetch %}
        {% if prod.title == product.title %}
          {% assign current_product_found = true %}
        {% else %}
          {% unless current_product_found == false and forloop.last %}

              {% include 'product-list-item' %}

          {% endunless %}
        {% endif %}
      {% endfor %}
      </div>

    </div>
  {% endif %}

{% endif %}

<script>
  // required for splitting variants
  // see ProductView
  window.productJSON = bold_product_json[{{ product.id }}];
</script>

<script>
  jQuery(window).load(function(){
    $('#shappify-qty-msg').html($('.shappify_qb_grid').parent().html());
  });
</script>
  <!--[powr-form-builder id=15bd2b0a_1459116293510]-->
  </div>
</div>
<div id="second1" class="customParts">
  <div id="textpart" class="subsecond">
    <h1 class="imagepart1">Product Details</h1>
    <ul id="majorlist">
      <li>The Universal mount fits any phone and any car</li>
      <li>Built with two different side grips to fit both thick and thin air vents</li>
      <li>Includes the new sleeker metal plates:</li>
          <ul>
            <li style="margin-top: -10px;">- 1x square metal plate w/ adhesive</li>
            <li>- 1x round metal plate w/ adhesive</li>
          </ul>
      <li>Simple, effortless installation</li>
      <li>Magnetic Grip allows for easy on/off application</li>
      <li>Twice the magnetic strength over any other mount</li>
      <li>Magnets guarentee safety to all devices and credit cards</li>
      <li>Cradle-less design creates an attractive display</li>
    </ul>
  </div>
  <div id="imagespart" class="subsecond">
      <h1 class="textpart1">Your Customizable Mount</h1> 
     <span style="font-size:13px;margin-left: 51%;margin-top:-6px;">By VentGripz</span>
    <!--div id="smallimages" class="showcase">
      <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0714edit_0.png" />
      <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0669edit.png" />
      <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0702edit.png" />
    </div>
    <div id="bigimage" class="showcase">
      <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG_0714edit.jpg" />
    </div-->
     
  <div class="col-xs-12 col-sm-2">
    <ol class="customizable-mount-gall-2-img-list" style="list-style: none;">
      <li><img src="//cdn.shopify.com/s/files/1/0895/4184/t/12/assets/home-left-right-image-1.png" alt="Grey White Package Template" class="gall-2-prev-img full-width"></li>
      <li><img src="//cdn.shopify.com/s/files/1/0895/4184/t/12/assets/home-left-right-image-2.png" alt="Blue White White Package Template" class="gall-2-prev-img full-width"></li>
      <li><img src="//cdn.shopify.com/s/files/1/0895/4184/t/12/assets/home-left-right-image-3.png" alt="Taylor Made Package Template" class="gall-2-prev-img full-width"></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/mckenna-mount.jpg?16958681350562322069" alt="Chase Package Template" class="gall-2-prev-img full-width"></li>
    </ol>
  </div>
  <div class="col-xs-12 col-sm-10 padding-0">
    <img src="//cdn.shopify.com/s/files/1/0895/4184/t/12/assets/home-left-right-image-2.png" alt="Dynamic Package Template" class="gall-2-full-img full-width">
  </div>
    <div class="clearfix"></div>


    <div id="jssor_2" style="display: none; position: relative; margin: 0 auto; top: 0px; left: 0px; width: 700px; height: 360px; overflow: hidden; visibility: hidden; background-color: #ffffff;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 99px; width: 609px; height: 598px; overflow: hidden; ">
            <div style="display: none;">
                <div style="position: absolute; top: 0px; left: 0px; width: 798px; height: 509px;">
                    <div style="margin: 10px; overflow: hidden; color: #000;">
            <img data-u="image" src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG_0714edit.jpg" style="width:310px;margin-top:20px;margin-left:100px;" />
          </div>
                </div>
                <div data-u="thumb">
        <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0714edit_0.png" />
        </div>
            </div>
            <div style="display: none;">
                <div style="position: absolute; top: 0px; left: 0px; width: 598px; height: 299px;">
                    <div style="margin: 10px; overflow: hidden; color: #000;">
          <img src="//cdn.shopify.com/s/files/1/0895/4184/t/12/assets/home-left-right-image-2.png" style="width:310px;margin-top:20px;margin-left:100px;" />
          </div>
                </div>
                <div data-u="thumb">
        <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0669edit.png" />
        </div>
            </div>
            <div style="display: none;">
                <div style="position: absolute; top: 0px; left: 0px; width: 598px; height: 299px;">
                    <div style="margin: 10px; overflow: hidden; color: #000;">
          <img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG_0702edit.jpg"  style="width:310px;margin-top:20px;margin-left:100px;"/>
          </div>
                </div>
                <div data-u="thumb"><img src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/IMG0702edit.png" /></div>
            </div>
            <div style="display: none;">
                <div style="position: absolute; top: 0px; left: 0px; width: 598px; height: 299px;">
                    <div style="margin: 10px; overflow: hidden; color: #000;">
          <img src="https://cdn.shopify.com/s/files/1/0895/4184/files/mckenna-mount.jpg"  style="width:310px;margin-top:20px;margin-left:100px;"/>
          </div>
                </div>
                <div data-u="thumb"><img src="https://cdn.shopify.com/s/files/1/0895/4184/files/mckenna-mount.jpg" /></div>
            </div>

         
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort13" style="position:absolute;left:0px;top:200px;width:100px;height:0px;">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default; top: 0px; left: 0px;  ">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="c"></div>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
    </div>

  </div>
</div>
<div id="third1" class="customParts">
  <h1 class="thirdh1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Specifications</h1>
  <div id="Packaging" class="speclist">
    <h2 style="color:#000000">Packaging</h2>
    <span class="lists">
      <span id="name1">Weight</span>
      <span id="num1"> 2.1 </span>
      <span id="scale1"> Ounces </span>
    </span> 
    <span class="lists">
      <span id="name1">Length</span>
      <span id="num1"> 3.9 </span>
      <span id="scale1"> Inches </span>
    </span> 
      <span class="lists">
      <span id="name1">Width</span>
      <span id="num1"> 3 </span>
      <span id="scale1"> Inches </span>
    </span> 
    <span class="lists">
      <span id="name1">Height</span>
      <span id="num1"> 1.2 </span>
      <span id="scale1"> Inches </span>
    </span> 
    <span class="lists">
      <span id="name1">Matte</span>
      <span id="num1">  </span>
      <span id="scale1">  </span>
    </span> 
    <span class="lists">
      <span id="name1">Raised Glossy</span>
      <span id="num1">  </span>
      <span id="scale1">   </span>
    </span> 
    <span class="lists">
      <span id="name1">Matte/Raised Glossy Combination</span>
      <span id="num1"></span>
      <span id="scale1">   </span>
    </span> 
    
  </div>
  <div id="Mount" class="speclist">
    <h2 style="color:#000000">Mount</h2>
    <span class="lists">
      <span id="name1">Weight</span>
      <span id="num1"> 1.25 </span>
      <span id="scale1"> Ounces </span>
    </span> 
    <span class="lists">
      <span id="name1">Length</span>
      <span id="num1"> 3.5 </span>
      <span id="scale1"> Centimeters </span>
    </span> 
    <span class="lists">
      <span id="name1">Width</span>
      <span id="num1"> 4.5 </span>
      <span id="scale1"> Centimeters </span>
    </span> 
    <span class="lists">
      <span id="name1">Depth</span>
      <span id="num1"> 2.5 </span>
      <span id="scale1"> Centimeters </span>
    </span> 
    <span class="lists">
      <span id="name1">Thickness</span>
      <span id="num1"> .9 </span>
      <span id="scale1"> Centimeters</span>
    </span> 
    <span class="lists">
      <span id="name1">Circumference</span>
      <span id="num1"> 28.3 </span>
      <span id="scale1"> Centimeters </span>
    </span> 
    <span class="lists">
      <span id="name1">Magnetic Strength</span>
      <span id="num1"> N50 </span>
      <span id="scale1"> Neodymium </span>
    </span> 
  </div>
</div>
<div class="clearfix1"></div>
</div>





<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0895/4184/t/12/assets/brandtemp6.js"></script>


<!-- ====================================================================================
========================================================================================= 
= author jebusiness723@gmail.com =-->
<!-- Styling -->
<style type="text/css">
#logoform > div:nth-child(5) > div > form > div.allLastWrap > div.add-to-cart > input[type="submit"] {
    border-radius: 0px !important;
}
  #imagespart > span {
    position: relative;
    top: -30px;
}
#first1 h1 {
    font-size: 25px;
}
.bold_option_child::before {
  content: 'For Packaging and Mount'; cursor: pointer;
}
.option_type_id_220231 textarea {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d7d9d9;margin-top: 10px;
}
select.select-quantity-by-hundred {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: #d7d9d9 solid 1px;
    font-size: 16px;
    min-height: 32px;
    height: 32px;
    background: #fff;
}
.product-form .option_type_id_220220 .shappify_option_name:before { padding: 5px 9px 5px 9px; }
.product-form .option_type_id_220231 .shappify_option_name:before { padding: 5px 9px 5px 9px; }
.product-form #enterQuantity::before { padding: 5px 9px 5px 9px; }
@media screen and (min-width: 1250px){
  #second1 #imagespart {
      width: 30%;
      margin-left: 9%;
  }  
}
.circled-grey-bg-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
.circled-grey-bg-counter li {
    counter-increment: step-counter;
    width: 32%;
    display: inline-block;
}
.customizable-mount-gall-2-img-list li {
    display: inline-block;
    width: 23%;
}
@media (min-width: 721px){
  .circled-grey-bg-counter li {
      width: 100%;
      display: block;
  }
}
@media (min-width: 721px){
  .customizable-mount-gall-2-img-list li {
    display: inline;
    width: 100%;
  }
}
.circled-grey-bg-counter li::before {
    content: counter(step-counter, upper-alpha);
    margin-right: 5px;
    background-color: #6b6b6b;
    color: white;
    padding: 0px 7px 0px 7px;
    font-size: 13px;
    border-radius: 70px;
    position: absolute;
}
.gall-prev-img,
.gall-2-prev-img {
    cursor: pointer;
}
.customizable-mount-gall-2-img-list li{

}
.gall-2-full-img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}
  @media screen and (max-width: 479px){
.option_type_id_220220 .shappify_option_name:after {
    left: 18%;
}
  }
</style>
<!-- Scripts -->
<script type="text/javascript">
jQuery(window).load(function(){
  jQuery('body > div.main-header-wrapper.show-border > header > div.branding > a > img').attr('src', 'https://cdn.shopify.com/s/files/1/0895/4184/files/Company_Brand_by_VentGripz_text.jpg');
  /**/
  jQuery('.product-form .shappify_option.fu_render.first.last.option_type_id_220220 > div.shappify_option_name').hide();
  jQuery('.product-form .shappify_option.fu_render.first.last.option_type_id_220220 > div.shappify_option_name').after('<label class="shappify_option_name" for="attach-your-logo" placeholder="Additional words, phrases or names go here..." style="display: block; cursor: pointer; margin-bottom: 10px;">Attach Your Logo:</label>');
  jQuery('#shapp_option_list_3983491651 > div:nth-child(1) > div.shappify_option.fu_render.first.last.option_type_id_220220 > div.shappify_option_value > input').attr('id', 'attach-your-logo');
  jQuery('form.product-form textarea.bold_option_child').attr('placeholder', 'Additional words, phrases or names go here...');

});
</script>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('body > div.main-header-wrapper.show-border > header > div.branding > a > img').attr('src', 'https://cdn.shopify.com/s/files/1/0895/4184/files/Company_Brand_by_VentGripz_text.jpg');
  /* slider adjustments for four slides */
  jQuery('#jssor_1 > div > div > div.jssort01-99-66 > div > div > div:nth-child(2)').height(500);
  jQuery('#jssor_1 > div > div > div.jssort01-99-66 > div > div > div:nth-child(2)').css('overflow','visible');
  jQuery('#jssor_1 > div > div > div.jssort01-99-66 > div > div > div:nth-child(2)').css('top', '125px');
  /* =============== =============== */
  jQuery('body > main').after('<div class="clearfix"></div>');
});
</script>
<script type="text/javascript">
/*  */
console.log('consoled from page.CompanyBranding.liquid');

/*
= Hides input quantity
= Creates select quantity
= Calculate pricePerItem
Output Total

================================================ */
jQuery(document).ready(function(){
  jQuery('form.product-form .input-wrapper input#quantity').attr('max', 10000);
  jQuery('form.product-form .input-wrapper input#quantity').hide();
  jQuery('form.product-form .input-wrapper input#quantity').after('<select class="select-quantity-by-hundred"></select>');

  var selectQuantityByHundred_Options = 500;
  while (selectQuantityByHundred_Options <= 10000){
    if (selectQuantityByHundred_Options == 500 ){
      jQuery('form.product-form .select-quantity-by-hundred').append('<option selected value="'+selectQuantityByHundred_Options+'">'+selectQuantityByHundred_Options+'</option>');
    } else {
      jQuery('form.product-form .select-quantity-by-hundred').append('<option value="'+selectQuantityByHundred_Options+'">'+selectQuantityByHundred_Options+'</option>');
    }
    selectQuantityByHundred_Options = selectQuantityByHundred_Options + 100;
  }
});
jQuery(document).on('change','select.select-quantity-by-hundred',function(){

  /* Pass Form Item Quantity through put numberOfItems in input quantity */  
  var numberOfItems = jQuery(this).val();
  jQuery('form.product-form .input-wrapper input#quantity').val(numberOfItems);
  console.log(numberOfItems);

  /* Calc Discount */
  var pricePerItem = 12.50;
  if (numberOfItems >= 1000){
    pricePerItem = 10.50;
  } else {
    switch(parseInt(numberOfItems)) {
      case 500:
          pricePerItem = 12.50;
          break;
      case 600:
          pricePerItem = 12.10;
          break;
      case 700:
          pricePerItem = 11.70;
        break;
      case 800:
          pricePerItem = 11.30;
        break;
      case 900:
          pricePerItem = 10.90;
        break;
      case 1000:
          pricePerItem = 10.50;
        break;
    }
  } console.log('Price per item: '+pricePerItem);
  jQuery('form.product-form .input-wrapper input#countbasicamount').val('$ '+pricePerItem+'0');

  /* Calc Total */
  var total;
  total = Math.ceil(numberOfItems * pricePerItem);
  jQuery('form .product-price #showTotal').text(total);
  /* test */
  console.log('Value of Changed Item '+numberOfItems);

});
jQuery(document).ready(function(){

  /* Pass Form Item Quantity through put numberOfItems in input quantity */  
  var numberOfItems = jQuery('.select-quantity-by-hundred').val();
  jQuery('form.product-form .input-wrapper input#quantity').val(numberOfItems);

  /* Calc Discount */
  var pricePerItem = 12.50;
  if (numberOfItems >= 1000){
    pricePerItem = 10.50;
  } else {
    switch(parseInt(numberOfItems)) {
      case 500:
          pricePerItem = 12.50;
          break;
      case 600:
          pricePerItem = 12.10;
          break;
      case 700:
          pricePerItem = 11.70;
        break;
      case 800:
          pricePerItem = 11.30;
        break;
      case 900:
          pricePerItem = 10.90;
        break;
      case 1000:
          pricePerItem = 10.50;
        break;
    }
  }

  console.log('Price per item: '+pricePerItem);
  jQuery('form.product-form .input-wrapper input#countbasicamount').val('$ '+pricePerItem+'0');

  /* Calc Total */
  var total;
  total = Math.ceil(numberOfItems * pricePerItem);
  jQuery('form .product-price #showTotal').text(total);
  /* test */
  console.log('Value of Changed Item '+numberOfItems);

});
jQuery('.gall-prev-img').click(function(){
  var src = jQuery(this).attr('src');
  jQuery('.gall-full-img').attr('src', src);
});
jQuery('.gall-2-prev-img').click(function(){
  var src = jQuery(this).attr('src');
  jQuery('.gall-2-full-img').attr('src', src);
});
</script>